*{
    margin: 0;
    padding: 0;
    -webkti-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: roboto;
    background: #c2c2c2;
}
.contenedor{
    width: 90%;
    max-width: 1300px;
    margin: 20px auto;

}
header{
    background: #fff;
}
header nav{
    width: 100%;
}
header nav ul {
    list-style: none;
    overflow: hidden;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    text-decoration:none;
    display: inline-block;
    color:#000;
    padding: 15px 20px;
}
header nav ul li a:hover{
    background: #000;
    color: #fff;
}
.main{
    width: 70%;
    float: left;
    background: #f2f2f2;
}
.main .imagen{
    max-width: 400px;
    width: 100%;
    margin-top: 10px; 
  
}
.main .imagen img{
    max-width: 400px;
    width: 90%;
    margin: auto;
}
.main .posts {
    margin-top: 20px;
}
.main .posts article{
    padding: 20px;
    background: #f2f2f2;
}
.main .posts article h2{
    text-align: center;
    margin-bottom: 20px;
}
.main .posts article p{
    line-height: 2;
    text-align: justify;
}
aside{
    width: 30%;
    float: left;
    background: #161f26;
    padding: 20px;
    color: #fff;
}
aside .widget{
    margin-bottom: 20px;
}
aside .widget .titulo{
    color: #ff8000;
    border-bottom:1px solid #ff8000;
    margin-bottom: 10px;
}
aside .widget ul{
    list-style: none;
}
aside .widget ul li{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0;
}
aside .widget ul li a{
    color: #fff;
    text-decoration: none;
}
aside .widget ul li a:hover{
    color:#8f8f8f;
}
aside .widget p{
    line-height: 2;
}
footer{
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #000;
    color:#fff;
    padding: 15px 0;
}
@media screen and (max-width: 800px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}