
.caja{
    width: 200px;
    height: 200px;
    background: rgb(39, 26, 230);

    margin: 50px;
    margin-left:1000px;
    margin-right: 500px;
    margin-top: 200px;
    margin-bottom: 100px;

    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p{
    color: #000;
    font-size: 30px;
}
.caja2{
    background: red;
    max-width: 1000px;
    min-width: 500px;
    width: 25%; 
    max-height: 400px;
    min-height: 50px;
    height: 20%;
    margin-bottom: 10px;
}
.caja3{
    width: 200px;
    height: 200px;
    background: rgb(81, 58, 185);
    margin-bottom: 10px;
}
.borderS{
    border:5px solid #000;
}
.dotted{
   border:5px  dotted red ;
}
.dashed{
    border:5px dashed rgb(38, 230, 12);
}
.groove{
    border:15px groove #c2c2c2;
}
.hola{
    border:15px outset red;
}
.radio{
    border-radius: 100px;
}
/*Position*/
.caja4{
    background: #000;
    margin:50px;
    border:5px dashed #fff;
    padding: 20px;

}
img{
    float: left;
    margin-right: 20px;
 
}
.texto{
    color: #fff;
    line-height: 2;
    margin-left: 10px;
}
/*Tipos de possicionamiento*/
.caja6{
    width: 200px;
    height: 200px;
    background: lightskyblue;
    margin: 10px;
}
.absoluto{
    position:absolute;
    top:0;
    bottom: 200px;
    left:1000px;
    right: 100px;
}
.relativo{
    position: relative;
    top:0;
    bottom:0;
    left:250px;
    right: 0;
}
.statico{
    position: static;
    top:0;
    bottom:0;
    left:250px;
    right: 0;
}
.fijo{
    position:fixed ;
    top:0;
    bottom:0;
    left:250px;
    right: 0;
}