*{
    margin: 0;
    padding: 0;
}
body{
    background: #000500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background:orangered;
    width: 90%;
    margin: auto;
    max-width: 1300px;
    list-style: none;
    margin: 20px auto;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    color:#fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.menu li a:hover{
    background:orange;
    color:#000;
    cursor:all-scroll;
}
.galeria{
    width: 90%;
    margin: auto;
    max-width: 1300px;
}
.galeria img{
    vertical-align: top;
    opacity:0.5;
    width: 350px;
    height: 350px;
    margin:20px;   
    padding: 5px;
    border:1px solid #484848;    
}
.galeria img:hover{
    opacity: 1;
    border: 1px solid #fff;
    cursor:zoom-in;
}