*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background:#f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.contenedor{
    width:1000px;
    background: #ccc;
    margin: auto;
    height: 1000px;
}
header{
    background: #000032;
    color: #fff;
    text-align: center;
    padding: 20px;
}
main{
    background: #f6f2f2;
    width: 30%;
    padding:20px;
    float: left;
   
}
aside{
    background: #ffbd59;
    width: 70%;
    padding: 20px;
  
    float: left;
}
footer{
clear: both;
background: #4d5061;
padding: 20px;
color: #fff;
width: 1000px;
position: absolute;
bottom: 0;
}




