P{
   color: #fff;
    /*Estilos de texto*/
   font-size:20px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:900;
   font-style:italic;
   /* posicion del texto*/
   text-align:center;
   line-height:3; 
   background: #000000;   
}
.marcado{
    background:red;
    color:#fff;
    font-size: 50px;
    font-weight: bold;
}
.parrafo{
    background: crimson;
    color: #000;
    font-style: normal;
    line-height: 2;
}
#texto{
    background: darkgreen;
    color: #fff;
    max-width: 1300px;
    width: 90%;
    max-height: 400px;
    height: 40%;
}